<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Octane.ChillPlayer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Chill Player" android:icon="@drawable/icon"></application>
</manifest>